<div class="row">
  <div class="col-md-12">
    <div class="col-md-6" style="margin-left : 30px;">
      <h1 for="ingredients">Scegli i tuoi ingredienti:</h1>
      <p *ngFor="let ingredient of ingredienti; index as i">
        <input type="checkbox" id="{{ingredient}}" [checked]="searchIngredient(ingredient)" value="{{ingredient}}"
          (change)="onChangeCategory($event, ingredient)">
        <label for="{{ingredient}}"> {{ingredient}}</label><br>
      </p>
      <hr>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-6"></div>
    <div class="col-md-6">
    <button (click)="addToMenu()"> Aggiungi all'ordine </button>
    </div>
  </div>
</div>
