<ion-header>
  <ion-toolbar>
    <ion-title>order</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngIf="tot > 0">
      <ion-col size="12">
        <ion-item *ngFor="let piatto of ord">
          <ion-col size="8">
            <h2>{{piatto.nome}}</h2>
            <p>{{piatto.ingredienti}}</p>
          </ion-col>
          <ion-col size="4">
            <h2>{{piatto.prezzo | currency}}</h2>
            <label for="qta" style="padding-right: 10px;">X</label>
            <input type="numeric" style="width: 20px;" name="qta" [(ngModel)]="piatto.qta">
          </ion-col>
          <ion-button slot="end" color="danger" fill="clear" (click)="removeFromOrder(piatto)" style="font-size: 20px;">
            <ion-icon name="close-circle"></ion-icon>
          </ion-button>

        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-text>
          <h2>Tot:{{tot | currency}}</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="tot === 0">
      <ion-col size="9" offset="3">
        <ion-text style="text-align: center;">Nessun piatto in quest'ordine.</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h4>Note per la consegna:</h4>
        <textarea style="width: 100%;"
          placeholder="Inserisci informazioni utili per consegna (interno, nome sul citofono, ecc...)."
          rows="8"></textarea>
      </ion-col>
      <ion-buttons>
        <ion-button [disabled]="ord.length === 0" color="primary" fill="solid">Ordina</ion-button>
      </ion-buttons>
    </ion-row>
  </ion-grid>
</ion-content>
