<ion-header>
  <ion-toolbar>
    <ion-title>Menù</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/intro"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card *ngFor="let piatto of menu">
          <ion-card-header>
            <ion-card-title><h1>{{piatto.nome | titlecase}}</h1></ion-card-title>
            <!-- <ion-avatar> <ion-img [src]="piatto.imageUrl"></ion-img></ion-avatar> -->
          </ion-card-header>
          <ion-card-content>
              <ion-item>
                {{piatto.ingredienti}}
              </ion-item>
              <ion-item lines="none">
                <h1>{{piatto.prezzo | currency}}</h1>
                <ion-buttons slot="end">
                  <ion-button (click)="modifyIngredients(piatto)">
                    <ion-icon name="pencil-outline" color="dark"></ion-icon>
                  </ion-button>
                  <ion-button (click)="addToOrder(piatto)">
                    <ion-icon name="add-outline" color="dark"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-thumbnail>
          <img src="https://th.bing.com/th/id/OIP.7zLsKM5Jy6wfGmZRnKe1AQHaIL?w=179&h=198&c=7&o=5&pid=1.7">
        </ion-thumbnail>
        Antipasti
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="6"> Pizza </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6"> Panini&Piadine </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="6"> Cucina Araba </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6"> Bevande </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>
